<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <header class="header" th:fragment="header">
    <div class="container">
      <nav class="nav">
        <a href="/products" class="logo">GeekStore</a>
        <div class="nav-links">
            <a href="/orders" class="nav-link">Заказы</a>
            <a href="/cart" class="nav-link">
                Корзина
                <span class="cart-total" th:text="${#numbers.formatDecimal(cartTotal != null ? cartTotal : 0, 0, 2, 'COMMA')} + ' ₽'"></span>
            </a>
        </div>
      </nav>
    </div>
  </header>
  </body>
</html>