<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  <header class="header" th:fragment="header">
    <div class="container">
      <nav class="nav">
        <a href="/" class="logo">GeekStore</a>
        <div class="nav-links">
          <a href="/products" class="nav-link">Товары</a>
          <a href="/cart" class="nav-link">
<!--            Cart <span th:if="${@shoppingCartService.getTotalItems()} > 0"-->
<!--                       class="cart-count"-->
<!--                       th:text="${@shoppingCartService.getTotalItems()}">0</span>-->
          </a>
          <a href="/orders" class="nav-link">Заказы</a>
        </div>
      </nav>
    </div>
  </header>
  </body>
</html>