<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head th:fragment="header-head">
    <link rel="stylesheet" th:href="@{/styles/fragments/header.css}">
</head>

<body>
<header class="header" th:fragment="header">
    <div class="container">
        <nav class="nav">
            <a href="/products" class="logo">GeekStore</a>
            <div class="nav-links">

                <!-- Для авторизованных пользователей -->
                <div sec:authorize="hasRole('USER')">
                    <a href="/products/add" class="nav-link">Добавить товары</a>
                    <a href="/orders" class="nav-link">Заказы</a>
                    <a href="/cart" class="nav-link">
                        🛒
                        <span class="cart-total"
                              th:text="${cart?.totalPrice != null
                        ? (cart.totalPrice == 0 ? '0,00'
                        : #numbers.formatDecimal(cart.totalPrice, 0, 2, 'COMMA')) : '0,00'} + ' ₽'">
                </span>
                    </a>
                </div>

                <!-- Для анонимных пользователей -->
                <div sec:authorize="isAnonymous()">
                    <a href="/login" class="nav-link">Войти</a>
                    <a href="/sign-up" class="nav-link">Регистрация</a>
                </div>

                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a href="/login" class="nav-link">Войти</a>
                    <a href="/sign-up" class="nav-link">Регистрация</a>
                </div>

                <div th:if="${#authorization.expression('isAnonymous()')}">
                    <a href="/login" class="nav-link">Войти</a>
                    <a href="/sign-up" class="nav-link">Регистрация</a>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>